<% if user_signed_in? %>

  <% unless post.like_user(current_user.id).blank? %>
    <%= link_to post_like_path(post_id: post.id, id: post.likes[0].id), method: :delete, remote: true do %> 
      <div class="vertical_like">
       <i class="fas fa-heart unlike-btn" ></i>
      </div>
    <% end %>
    <p><%= post.likes.count %>件のいいね</p>
  <% else %>
    <%= link_to post_likes_path(post.id), method: :post, remote: true do %> 
      <div class="vertical_like">
        <i class="far fa-heart like-btn"></i>
      </div>
    <% end %>
    <p><%= post.likes.count %>件のいいね</p>
  <% end %>
<% end %>