<div class="panel">
  <div class="panel-heading">
    <div class="user-panel text-center">
      <span class="icon_image">
        <% if current_user.image? %>
        <img src=<%= current_user.image %> class="icon_image_side">
        <% else %>
        <%= image_tag 'profile_default2.jpg' ,class: "icon_image_side" %>
        <% end %>
      </span>
      <div class="user_name_side">
        <p class="my-2">
          <%= current_user.name %>
        </p>
      </div>
    </div>

    <div class="panel-body text-center">
      <div data-toggle="tooltip">
        <a class="show-btn-link" href="/users/show/<%= current_user.id %>">
          <i class="fas fa-chalkboard-teacher home-icon "></i><br>マイページ</a>
      </div>
    </div>

  </div>