<div class="panel">
  <div class="panel-heading">
    <div class="user-panel text-center">
      <span class="icon_image">
        <% if current_user.image? %>
          <img src=<%= current_user.image %> class = "icon_image_side">
          <% else %>
          <%= image_tag 'profile_default2.jpg' ,class: "icon_image_side" %>
        <% end %>
      </span>
      <h4 class='my-2'><%= current_user.name %></h4>
    </div>
  </div>
  <div class="panel-body text-center">
    <div data-toggle="tooltip">
      <a class="show-btn-link" href="#">
        <i class="far fa-comment-dots home-icon "></i><br>投稿した記事</a>
    </div>
    <div data-toggle="tooltip">
      <a class="show-btn-link" href="#">
        <i class="fas fa-heart home-icon"></i><br>いいねした記事</a>
    </div>
  </div>
</div>
