<div class="post_detail">
    <div class="row">
        <div class="col-4">
            <% if @post.user.image? %>
                <img src=<%= @post.user.image %> class = "icon_image">
            <% else %>
                <%= image_tag 'profile_default2.jpg' ,class: "icon_image" %>
            <% end %>
        </div>

        <div class="col-8">
        </div>
    </div>

    <div class="comment-create my-5">
        <h3 class="text-center">コメントを投稿する</h3>
        <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
    </div>

    <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>  