<h3 class="text-center title">コメント</h3>
    <div class="comment-create">
        <h3 class="text-left">レビューを投稿する</h3>
        <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
    </div>

    <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>  