/* 全体 */
html {
  height: 100%;
}

body {
  background-color: #FFFAF0;
}

main {
  padding-top: 50px;
  background-color: #FFFAF0;
}

.base-container {
  margin: 7% auto 0;
  padding: 1rem;
}

/* max-width */

.mw-md{
  max-width: 720px;
}

.mw-lg{
  max-width: 960px;
}

.mw-xl{
  max-width: 1200px;
} 

/* フラッシュの色 */
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}  

/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";