

/* 全体 */
html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #FFFAF0;
}

main {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #FFFAF0;
}

.base-container {
  margin: 7% auto 0;
  padding: 1rem;
}

.navbar-brand {
  font-family: 'Londrina Shadow', cursive;
  font-size: 20px;
}

footer {
  font-family: 'Londrina Shadow', cursive;
  font-size: 20px;
  letter-spacing: 0.1em;
}

/* max-width */

.mw-md{
  max-width: 720px;
}

.mw-lg{
  max-width: 960px;
}

.mw-xl{
  max-width: 1200px;
} 

/* ページネーション部分 */
.pagination {
  justify-content: center;
  margin-top: 80px;
} 

/* いいね機能 */
.vertical_like {
  text-align: center ;
  margin:100px 100px 0 35px;
  width: 100px;
  display: flex;
}

.like-btn {
  color: #8899a6;
}

.unlike-btn {
  color: #ff2581;
}

.button-group {
  max-width: 800px;
  justify-content: center;
  margin: auto;
}

/* フラッシュの色 */
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}  


/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cabin+Sketch:wght@700&family=Kosugi+Maru&family=Londrina+Shadow&display=swap');