

/* 全体 */
html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #FFFAF0;
}

main {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #FFFAF0;
}

.base-container {
  margin: 7% auto 0;
  padding: 1rem;
}

/* max-width */

.mw-md{
  max-width: 720px;
}

.mw-lg{
  max-width: 960px;
}

.mw-xl{
  max-width: 1200px;
} 

/* 投稿詳細部分 */
.user_info {
  text-align: center;
.user_name {
  margin-top: 20px;
}

}

.post_title {
  font-size: 35px;
}
.post_content {
  font-size: 25px;
}

/* ページネーション部分 */
.pagination {
  justify-content: center;
  margin-top: 80px;
} 

/* いいね機能 */
.like-btn {
  color: #8899a6;
}

.unlike-btn {
  color: #ff2581;
}

/* フラッシュの色 */
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}  

/* 画像 */

.post_img_full{
  text-align: center;
}

.icon_image {
  width: 200px;
  height: 200px;
  //サイズ指定
  border-radius: 100px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}

.full_image {
  width: 100%;
  max-height: 700px;

}

/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";