.full_image {
  width: 100%;
  max-height: 600px;
}

.like_to_post {
  position: relative;
  background: #FFFF99;
  z-index: 3;
  text-align: center;
  margin-bottom: 30px;
  padding: 20px 0;
  margin: 30px 200px;
}

.like_lead {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}

.vertical_like {
  position: relative;
    border-radius: 8px;
    background: #FFFF99;
    display: block;
    box-sizing: border-box;
    font-weight: 700;
    color: #111;
    text-align: center;
    text-decoration: none;
    width: 200px;
    margin: auto;
    padding: 10px 20px;
    cursor: pointer;
}

.botton-group {
  max-width: 800px;
  justify-content: center;
  margin: auto;
}

.noimage {
  width: 100px;
  height: 100px;
}

.post_img_full{
  text-align: center;
}

.icon_image {
  width: 100px;
  height: 100px;
  //サイズ指定
  border-radius: 50px;
  //画像を丸くする
  object-fit: cover;
}

.icon_image_lg {
  width: 200px;
  height: 200px;
  //サイズ指定
  border-radius: 100px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}

.icon_space {
  padding:30px 0 0 50px
}

.card-text {
  font-size: 30px;
}

.modal-area {
  width: 75%;
  text-align: center;
  margin: 20px auto;
  padding: 20px 0;
  position: relative;
  background: #E4FF8D;
  z-index: 3;
  text-align: center;
  border-radius: 40px;
    .post-message {
      font-weight: bold;
    }
}