<%= stylesheet_link_tag 'tips', media: 'all', 'data-turbolinks-track': 'reload' %>

<% @tips.each do |tip| %>
  <%= image_tag tip.image.url %>
  <p>【<%= tip.title %>】</p>
  <p><%= tip.article %></p>
<% end %>
