<%= stylesheet_link_tag 'tips', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class='big-bg'>
    <h2 class='page-title'>aroma tips</h2>
    <p>生活に役立つアロマの豆知識を発信します</p>
</div>

<h1><%= @tip.title %></h1>
<p><%= markdown(@tip.article) %></p> 